div#content{
	width: 1500px;
	height: 1000px;
}

div#contentA{
	width: 600px;
	height: 300px;
	position: absolute;
	left: 0px;
	top: 0px;
	/*background-color: #40AFFE;*/
	border:1px solid #2E2D3C;
}
div#contentB{
	width: 600px;
	height: 300px;
	position: absolute;
	left: 0px;
	top: 300px;
	/*background-color: aquamarine;*/
	border:1px solid #2E2D3C;
}
div#contentC{
	width: 600px;
	height: 400px;
	position: absolute;
	left: 0px;
	top: 600px;
	/*background-color: bisque;*/
	border:1px solid #2E2D3C;
	
}
div#contentD{
	width: 900px;
	height: 600px;
	position: absolute;
	left: 600px;
	top: 0px;
	/*background-color: paleturquoise;*/
	border:1px solid #2E2D3C;
	
}
div#contentE{
	width: 900px;
	height: 400px;
	position: absolute;
	left: 600px;
	top: 600px;
	/*background-color: hotpink;*/
	border:1px solid #2E2D3C;
}

.axis path,
.axis line{  
    fill: none;  
    stroke: black;  
    stroke-width: 1;
    /*shape-rendering: crispEdges;*/  
}

.label text{
	font-size: 10px;
}
