<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hfut.vcc.mapping.CoordinateMapper">
	
	<update id="updateCoorBatch" parameterType="hashmap">
		<foreach collection="data" item="RoadCoor" separator=";">  
    		UPDATE jysg 		
     		<set>  
       			lng_jdwz = #{RoadCoor.lng_jdwz},  
       			lat_jdwz = #{RoadCoor.lat_jdwz}
     		</set>  
     		<where>  
       			jdwz=#{RoadCoor.jdwz} and lm = #{lm} 
     		</where>  
  		</foreach>
	</update>
	
</mapper>